
body {
  padding: 0px;
  margin: 0px;
  font-family: Helvetica;
  overflow: overlay;
  background-color: #181a24;
}

.container {
  padding-left: 48px;
  padding-right: 48px;
  display: flex;
  margin: auto;
}

#navbar {
  color: #f1f1f1;
  height: 70px;
  padding: 0px;
  width: 100%;
  z-index: 10;
  position: fixed;
}
#navbarcenter {
  /* background-color: #171721; */
  background-color: rgba(23, 23, 33, 0)
}

.buttons {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  display: block;
  float: right;
  padding: 20px 0px 20px 20px;
}

.buttons a {
  text-decoration: none;
  color: #f1f1f1;
}

/* .sticky {
  background-color: #171721;
} */

.pagebutton {
  font-weight: 600;
  display: inline-block;
  border-radius: 10px;
  width: 80px;
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
  color: #f1f1f1;
  text-decoration: none;
  text-align: center;
  position: relative;
}
.pagebutton:hover {
  background: #777;
}
.pagebutton-content {
  display: none;
  position: absolute;
  left: -9%;
  border-radius: 10px;
  min-width: fit-content;
  padding: 5px 0px;
  margin-top: 5px;
  text-align: center;
}
.pagebutton-content a {
  padding: 4px 0px;
  /* background-color: #222; */
  display: block;
}
.pagebutton:hover .pagebutton-content {
  display: block;
  width: fit-content;
  border-radius: 10px;
  background: #777;
}

div.logo {
  font-weight: bold;
  display: table-cell;
  width: 25%;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 200%;
  padding: 10px;
  /* text-align: center; */
}

.pageheader {
  position: relative;
  text-align: center;
}

#imageheadtitle {
  position: absolute;
  top: 30%;
  right: 50%;
  transform: translate(50%, 50%);
  font-size: 100px;
  margin: auto;
  color: #f1f1f1;
}



/*SCROLL BAR!*/
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(80, 80, 80, 0.5);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.5);
}
